
a{
  text-decoration: none;
  color:#FFF;
}

*{
    padding:0;
    margin: 0;
    border:none;
}

.body
{
    background-color:#FFF;
}

.glav-text{
  margin-top:6vw;
  margin-left:0.5vw;
  font-family: 'Open Sans', sans-serif;
  font-weight:bold;
  font-size: 3vw;
  color: #252525;
  text-align: center;
  width: 98vw;
}

input {
  margin-left: auto;
  margin-right: auto;
  width:60vw;
  height:4vw;
  color: #326DE0; 
  background-color:#FFF;
  border: 5px solid #326DE0;
  border-radius: 30px;
  padding: 5px; 
}

.input-system{
  display: flex;
  justify-items:center;
  align-items: center;
  width:100vw;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.dropbtn {
  margin-top: 1vw;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  line-height: 2vw;
  width: 60vw;
  height: 4vw;
  color: #326DE0;
  background-color: #FFF;
  border: 5px solid rgb(50, 109, 224);
  border-radius: 30px;
  padding: 5px;
  word-wrap: break-word; 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1vw;
  color: #252525;
  text-align: center;
  display: none;
  position: absolute;
  word-wrap: break-word; 
  background-color: #f9f9f9;
  width: 96%; 
  box-shadow: 0px 8px 16px 0px rgba(50,109,224,0.2);
  z-index: 1;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 96%;
  word-wrap: break-word; 
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.but-st {
  margin-top:1vw;
  display: block;
  width: 10vw;
  height:5vw;
  line-height: 5vw;
  background-color: #326DE0;
  color: white;
  text-align: center;
  border-radius: 25px; 
  font-weight: bold;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif; 
  font-size:1vw;
  cursor: pointer;
}

.but-st:hover
{
  transform:scale(1.1);
}

@media screen and (max-width: 550px) {

  .glav-text{
    margin-top:12vw;
    font-size:4vw;
  }

  .but-st{
    font-size:3vw;
    width:15vw;
    height:7.5vw;
  }

  .dropbtn{
    font-size:3vw;
    height:12vw;
    line-height:3vw;
  }

  .dropdown-content{
    font-size: 2vw;
  }


}

