a {
  text-decoration: none;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

.body {
  background-color: #fff;
  overflow: hidden;
}

.glav-text {
  margin-top: 3vw;
  margin-left: 0.5vw;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.25vw;
  color: #252525;
  text-align: center;
  width: 98vw;
}

.Scrol-Block {
  margin-top: 2vw;
  width: 98vw;
  height: 25vw;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 0.5vw;
}

.block {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 10px;
  background-color: #d9d9d9;
}

.text {
  margin-left: 0.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.25vw;
  color: #252525;
  width: 60%;
}

.button-start {
  margin-right: 1vw;
  margin-left: auto;
  padding: 10px 10vw;
  font-size: 1.25vw;
  border-radius: 10px;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  background-color: #326de0;
  color: white;
  border: 2px solid #326de0;
  transition: all 0.3s;
}

.button-start:hover {
  padding: 20px 10vw;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .text {
    font-size: 2.5vw;
  }

  .button-start {
    font-size: 2.5vw;
  }

  .glav-text {
    font-size: 2.5vw;
  }

  .Scrol-Block {
    height: 100vw;
    width: 90vw;
  }
}

@media screen and (max-width: 900px) {
  .text {
    font-size: 2.5vw;
  }

  .button-start {
    font-size: 2.5vw;
  }

  .glav-text {
    font-size: 2.5vw;
  }

  .Scrol-Block {
    height: 70vw;
    width: 96vw;
  }
}
