*{
    padding:0;
    margin: 0;
    border:none;
}

.body
{
    background-color:#FFF;
}

.profile 
    {
    
     display: flex;
     align-items:flex-start;
     justify-content:center;
  }
  
  .circle-container 
  {
    margin-top:2%;
    width: 25vw;
    height: 25vw;
    background-color:#326DE0;
    border-radius: 50%;
  }
  
  .circle 
  {
    margin-top:0.5vw;
    margin-left:0.5vw;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    background-color:#D9D9D9;
    overflow: hidden;
  }
  
.img-ava
{
    width: 100%;
    height: auto;
    text-align: center;
    transform: translateY(10%);
}

  .user-info 
  {
    margin-top:2%;
    margin-left:20vw;
  }
  
  .magazin-button
  {
    margin-top:30px;
    padding: 10px 20px;
    font-size: 2.3vw;
    border-radius: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #326DE0;
    color: white;
    border: 2px solid #326DE0;
    transition: all 0.3s;
  }

  .magazin-button:hover
  {
     transform: scale(1.1);
    background-color: #326DE0;
    border-color: #326DE0;
    cursor: pointer;
  }

  h1 
  {
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 2.2vw;
    color: #252525;
    margin-top: 0;
    padding-bottom:3vw;
  }

  p
  {
    font-size: 1.7vw;
    font-family: 'Open Sans', sans-serif;
    color: #252525;
    padding-bottom:2vw;
  }

  @media screen and (max-width: 800px) {
    h1{
        font-size:4.4vw;
    }

    p{
       font-size:3.4vw;
    }

    .circle-container{
        width:41vw;
        height:40vw;
    }

    .circle{
        margin-top:1vw;
        margin-left:1vw;
        margin-right:1vw;
        width:38vw;
        height:38vw;
    }

    .magazin-button{
        font-size:4.4vw;
    }    
}

@media screen and (max-width: 450px) {

    
}