* {
  padding: 0px;
  margin: 0px;
  border: none;
}
:root {
  --main-color: #326de0;
  --bg-color: #ffffff;
  --additional-color: #e03632;
  --font-color: #252525;
}
* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--font-color);
}

/* .mascot_one {
  position: absolute;
  bottom: 40px;
  height: 512px;
  width: 512px;
  background-image: url("./mascot_one.png");
  opacity: 1;
  left: 10px;
  transform: rotate(-5.68deg);
  z-index: -3;
}
.mascot_two {
  position: absolute;
  height: 450px;
  right: 100px;
  bottom: 50px;
  width: 512px;
  height: 512px;
  right: 50px;
  gap: 0px;
  transform: rotate(11.73deg);
  background-image: url("./mascot_two.png");
  z-index: -2;
} */
.body {
  background-color: var(--bg-color);
  flex-grow: 1;
}
.body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*
  opacity: 1;
  background-image: url("cirles.svg"), url("cirles2.svg");
  background-position: left top, left top;*/
  background-repeat: no-repeat;
  background-size: 100vw;
  background-image: url("background.png");
  z-index: 1;
}
.footer,
.header {
  flex-shrink: 0;
}
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.greeting {
  text-align: center;
  color: var(--main-color);
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 15px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
.form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  min-width: max-content;
  height: 50vh;
  justify-content: space-between;
  max-height: 450px;
}
.input-text {
  color: var(--main-color);
  padding: 15px;
  border: 5px solid var(--main-color);
  border-radius: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  min-width: 300px;
}
.input-text::placeholder {
  color: var(--main-color);
}
.button-submit {
  color: var(--bg-color);
  background-color: var(--main-color);
  border: 5px solid var(--main-color);
  border-radius: 40px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  font-weight: 600px;
  font-size: 20px;
  line-height: 24px;
}
.button-submit:hover {
  cursor: pointer;
}

@media (max-device-width: 1500px) {
  .mascot_one,
  .mascot_two {
    display: none;
  }
}
